
<footer class="mt-30 p-20">
    <div class="container">
        <div class="row mt-50">
          <div class="col-sm-4 flex-container">
          
            <!-- About Us -->
            <h5 class="section_footer__heading text-center">
              About Us
            </h5>
            <p class="col-12">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.
            </p>
  
          </div>
          <div class="col-sm-4 flex-container">
          
            <!-- Contact info -->
            <h5 class="section_footer__heading text-center">
              Contact info
            </h5>
            <ul class="section_footer__info">
              <li>
                <i class="fas fa-map-marker-alt"></i> 1234 Altschul, New York, NY 10027-0000
              </li>
              <li>
                <i class="fas fa-phone"></i> +1 987 654 3210
              </li>
              <li>
                <a><i class="far fa-envelope"></i> info@mingsdiner.com</a>
              </li>
            </ul>
  
          </div>
          <div class="col-sm-4 flex-container">
          
            <!-- Opening hours -->
            <h5 class="section_footer__heading text-center">
              Opening hours
            </h5>
            
            <ul class="section_footer__info">
              <li>
                Monday - Thursday
              </li>
              <li>
                10:00 AM - 11:00 PM
              </li>
              <li class="mt-30">
                Friday - Sunday
              </li>
              <li>
                12:00 AM - 03:00 AM
              </li>
            </ul>
  
          </div>          
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            <img src="../../../../assets/logo-3.png" alt="" class="d-block align-text-top brand-round mb-40" style="width: 200px; margin: auto;">
            <!-- Copyright -->
            <div class="section_footer__copyright mt-30" style="text-align: center">              
              © <span id="js-current-year">2021</span> Kitchen Story. All rights reserved.
            </div>
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
</footer>
