<div class="container">
    <div class="row mt-50">
        <div class="col-12">
            <ngb-carousel [showNavigationIndicators]="false" [interval]="4000">
                <ng-template ngbSlide>
                    <div class="row p-0 bg-kitchen-primary">
                        <div class="col-12 col-lg-6 d-flex p-20 main-carousel">
                            <div class="slide-content text-center">
                                <h3 class="slide-title">The Great Binge</h3>
                                <p class="slide-caption text-center">A great selection of snacks awaits your movie nights</p>
                                <a class="btn btn-custom-1">
                                    <span class="btn-text">More Snacks</span>                                    
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="slide-1-img">              
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row p-0 bg-kitchen-primary">
                        <div class="col-12 col-lg-6 d-flex p-20 main-carousel">
                            <div class="slide-content text-center">
                                <h3 class="slide-title">Healthy Food, Healthy You</h3>
                                <p class="slide-caption text-center">A variety of organic selection at our store</p>
                                <a class="btn btn-custom-1">
                                    <span class="btn-text">More Options</span>                                    
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="slide-2-img">              
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="row p-0 bg-kitchen-primary">
                        <div class="col-12 col-lg-6 d-flex p-20 main-carousel">
                            <div class="slide-content text-center">
                                <h3 class="slide-title">Refresh Your Summer</h3>
                                <p class="slide-caption text-center">Drinks that bubble and quinch your thirst</p>
                                <a class="btn btn-custom-1">
                                    <span class="btn-text">More Drinks</span>                                    
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="slide-3-img">              
                            </div>
                        </div>
                    </div>
                </ng-template>
              </ngb-carousel>    
        </div>                
    </div>
</div>


<div class="container">
    <div class="row mt-50">
        <div class="col-12 section-title">
            <h3 class="text-center">This Week's Top Picks</h3>            
        </div>
    </div>
    <div class="row mb-50 mt-30">
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/top-offers/offer-1.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Banana</h5>
                <p class="card-text">2.95 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/top-offers/offer-2.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Chicken Livers 450ML</h5>
                <p class="card-text">2.75 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/top-offers/offer-3.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">French Fries Thin</h5>
                <p class="card-text">10.25 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/top-offers/offer-4.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Shredded Cheese</h5>
                <p class="card-text">7.5 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-12"><button class="btn btn-custom-2 d-block m-20-auto">See All Offers</button></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 section-title">
            <h3 class="text-center">Popular at Kitchen Story</h3>
        </div>
    </div>
    <div class="row mb-50 mt-30">
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/popular/popular-1.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Mortadella Chicken</h5>
                <p class="card-text">7.5 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/popular/popular-2.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Large Shrimp</h5>
                <p class="card-text">28.75 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/popular/popular-3.png" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Fresh Chicken</h5>
                <p class="card-text">13.5 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="../../../../assets/home/popular/popular-4.jpg" alt="The great ancestor delight">
                <div class="card-body">
                <h5 class="card-title">Chicken Breast</h5>
                <p class="card-text">17.75 SAR</p>
                <a class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-12"><button class="btn btn-custom-2 d-block m-20-auto">More Frozen Food</button></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 section-title">
            <h3 class="text-center">More Kitchen Categories</h3>
        </div>
    </div>
    <div class="row mb-50 mt-30">
        <div class="col-12 col-lg-6">
            <div class="card cat-card cat-bg-1 cursor-pointer">
                <div class="cat-card-content text-left p-20">
                    <h3 class="cat-title">Bakery</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card cat-card cat-bg-2 cursor-pointer">
                <div class="cat-card-content text-left p-20">
                    <h3 class="cat-title">Organic</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card cat-card cat-bg-3 cursor-pointer">
                <div class="cat-card-content text-left p-20">
                    <h3 class="cat-title">Cooking Supplies</h3>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card cat-card cat-bg-4 cursor-pointer">
                <div class="cat-card-content text-left p-20">
                    <h3 class="cat-title">Breakfast</h3>
                </div>
            </div>
        </div>

        <div class="col-12"><button class="btn btn-custom-2 d-block m-20-auto">All Categories</button></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 section-title">
            <h3 class="text-center">Reasons to Shop With Us</h3>
        </div>
    </div>

    <div class="row mb-50 mt-30">
        <div class="col-12 col-lg-6">
            <div class="reason-icon">
                <span class="material-icons d-block text-center">local_shipping</span>
                <div class="reason-content text-center">
                    <h3 class="reason-title">Delivery or Collection</h3>
                    <p class="reason-content">7 days a week, at a time that suits you</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="reason-icon">
                <span class="material-icons d-block text-center">favorite</span>
                <div class="reason-content text-center">
                    <h3 class="reason-title">Favourites</h3>
                    <p class="reason-content">Order your most loved products in just a few seconds</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="reason-icon">
                <span class="material-icons d-block text-center">volunteer_activism</span>
                <div class="reason-content text-center">
                    <h3 class="reason-title">Handled with Care</h3>
                    <p class="reason-content">Great quality products picked and packed with care</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="reason-icon">
                <span class="material-icons d-block text-center">smartphone</span>
                <div class="reason-content text-center">
                    <h3 class="reason-title">Shop on the move</h3>
                    <p class="reason-content">Shop on the move with our apps for tablet and mobile</p>
                </div>
            </div>
        </div>
    </div>
</div>