<header class="p-20">
    <div class="custom-navbar-2">
        <ul class="navbar-nav" >
            <li class="nav-item" *ngIf="!(auth$ | async)">
                <a class="nav-link d-flex" routerLink="/auth/login">Sign In <div class="account-icon">
                    <span class="material-icons-outlined">
                        person
                    </span>
                </div></a>                
            </li>
            <li class="nav-item" *ngIf="!(auth$ | async)">                
                <a class="nav-link" routerLink="/auth/signup">Register</a>
            </li>
            
            <li class="nav-item" *ngIf="(auth$ | async) && (user$ | async) && (user$ | async).role === 'Admin'"
             (click)="adminDropdown.toggle()">
                <div class="d-inline-block" ngbDropdown #adminDropdown="ngbDropdown">
                    <a class="nav-link d-flex" id="dropdownAdmin" ngbDropdownAnchor>{{(user$ | async).fullName}}
                        <div class="account-icon">
                            <span class="material-icons-outlined">
                                person
                            </span>
                        </div>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownAdmin">
                      <button ngbDropdownItem routerLink="/admin-backend">Admin Panel</button>                      
                    </div>
                </div>
            </li>
            
            <li class="nav-item" *ngIf="(auth$ | async) && (user$ | async) && (user$ | async).role === 'User'"
             (click)="userDropdown.toggle()">
                <div class="d-inline-block" ngbDropdown #userDropdown="ngbDropdown">
                    <a class="nav-link d-flex" id="dropdownUser" ngbDropdownAnchor>{{(user$ | async).fullName}}
                        <div class="account-icon">
                            <span class="material-icons-outlined">
                                person
                            </span>
                        </div>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownUser">
                      <button ngbDropdownItem>
                        <span class="material-icons">list_alt</span>
                        <span class="dropdown-text">My Orders</span>
                      </button>                      
                      <button ngbDropdownItem>
                          <span class="material-icons">favorite</span> 
                          <span class="dropdown-text">My Wishlist</span>
                      </button>                      
                    </div>
                </div>
            </li>

            <li class="nav-item" *ngIf="(auth$ | async) && (user$ | async)">                
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>        
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="site-logo mr-30" routerLink="/home">
                <img src="../../../assets/logo-3.png" alt="">
            </a>
            <form class="header-form" #searchForm="ngForm" (ngSubmit)="onSearchSubmit()">
                <input type="text" class="form-control" name="search_query" ngModel placeholder="Chicken, Beef, Meat, Precious & Juicy Foods">
                <select name="category" [ngModel]="'all'" id="cat">
                    <option value="all" >All Categories</option>
                    <option *ngFor="let cat of (cats$ | async)" value="{{cat.id}}">{{cat.name}}</option>                    
                </select>
                <button class="btn btn-header-search" type="submit"><span class="material-icons-outlined">search</span></button>
            </form>
            <div class="site-right">
                <div class="item cart" routerLink="/cart">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>
                    <span class="cart-items-count">{{(cart$ | async).items.length }}</span>
                    <span class="cart-text">Cart</span>
                </div>               
            </div>
        </div>        
    </nav>    

    <div class="custom-navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" (click)="myDrop.toggle()">                
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" >
                    <a class="nav-link" id="dropdownManual" ngbDropdownAnchor >Groceries</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                      <button ngbDropdownItem *ngFor="let cat of (cats$ | async)">{{cat.name}}</button>                                        
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link">Offers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
</header>
