<div class="container">
    <div class="row">
        <div class="col-12 title">
            <h3 class="text-center">Password Change</h3>
        </div>
        <p class="col-12 text-center">
            It is considered a good practice to change your password frequently ...like underware
        </p>
    </div>
    <app-modal *ngIf="error || isLoading || success">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <div class="col-md-12" *ngIf="error">
            <div class="failed">
                <span class="material-icons d-block">highlight_off</span>
                <h3 class="fail-title text-center">Failed!</h3>
            </div>
            <p class="text-center" *ngIf="responseMsg">{{ responseMsg }}</p>
        </div>
        <div class="col-md-12" *ngIf="success">
            <div class="success">
                <span class="material-icons d-block">check_circle</span>
                <h3 class="success-title text-center">Success!</h3>
            </div>
            <p class="text-center" *ngIf="responseMsg">{{ responseMsg }}</p>                
        </div>
    </app-modal>
    <div class="row mt-50">
        <form class="col-12 col-lg-6 offset-lg-3" [formGroup]="resetForm" (ngSubmit)="onSubmit()">            
            <div class="form-group">
                <label for="old-password">Old Password</label>
                <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword">

                <div *ngIf="(resetForm.get('oldPassword').dirty || resetForm.get('oldPassword').touched)">
                    <div *ngIf="resetForm.hasError('required', 'oldPassword')">
                        Please enter your old password
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" name="newPassword" class="form-control" formControlName="newPassword" >                
                <div *ngIf="(resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                    <div *ngIf="resetForm.hasError('required', 'newPassword')">
                        Please enter your new password
                    </div>     
                    <div class="help-block" *ngIf="resetForm.hasError('passwordMatchOldError')">New Password must not match Old Password</div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm-new-password">Confirm New Password</label>
                <input type="password" name="confirmNewPassword" class="form-control" formControlName="confirmPassword">
                
                <div *ngIf="(resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                    <div *ngIf="resetForm.hasError('required', 'confirmPassword')">
                        Please enter the confirmation field
                    </div>        
                    <div class="help-block" *ngIf="resetForm.hasError('passwordConfirmError')">Confirm Password does not match New Password</div>
                </div>

            </div>
        
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="resetForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>